// Navigation code here
.home-header{
    .flexCol(space-between; center);
    h1{
        width: 60%;
        font-size: 45px;
        text-align: center;
        .centermargin();        
        margin-bottom: 15px;
    }

    .nav-bar{
        font-size: 20px;
        .flexRow(space-between; center);                
        width: 50%;        
        .centermargin();
        // margin-bottom: 15px;
        padding-bottom: 5px;

        a{
            color: black;
            text-decoration: none;
        }
    }

    .header-img{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

